{% extends "base.html" %}

{% load static %}

{% block title %}Выход{% endblock %}

{% block stylesheet %}
  {# my styles #}
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
  <div class="card stroke">
    <img class="mt-4 mb-2" src="{% static 'img/logo.svg' %}" alt="logo" width="128" height="128">
    <div class="card-body text-center">
      <p class="card-text">Вы успешно вышли из аккаунта.</p>
      <a href="{% url "login" %}" class="btn btn-primary">Войти снова</a>
    </div>
  </div>
{% endblock %}