{% extends 'base.html' %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
  <form class="login-register-form" action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <img class="mb-4" src="{% static 'img/logo.png' %}" alt="logo" width="64" height="64">

    <h1 class="h3 mb-3 fw-normal">Войдите</h1>

    <div class="form-floating mb-2">
      {{ form.username }}
      <label for="{{ form.username.id_for_label }}">Логин</label>
    </div>

    <div class="form-floating mb-4">
      {{ form.password }}
      <label for="{{ form.password.id_for_label }}">Пароль</label>
    </div>

    <input type="hidden" name="next" value="{{ next }}"/>
    <button class="w-100 btn btn-primary" type="submit">Войти</button>

    <div class="mt-4">
      Нет аккаунта? <a href="{% url "register" %}">Зарегистрируйтесь!</a>
    </div>

    {% if form.errors %}
      <div class="mt-3 error">
        Пожалуйста, введите правильные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру.
      </div>
    {% endif %}

    <p class="mt-5 mb-3 text-muted">© РТУ МИРЭА 2022</p>
  </form>
{% endblock %}