{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
  <h1>Анализ</h1>

  <ul id="resumes"></ul>

  <div>
    <label for="levels">Образование</label>
    <select id="levels" name="levels" multiple>
      {% for level in data.levels %}
        <option value="{{ level }}">{{ level.capitalize }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="experience">Опыт работы</label>
    <select id="experience" name="experience">
      <option value="None">Любой</option>
      <option value="no">Без опыта</option>
      <option value="less_1">Меньше 1 года</option>
      <option value="1_3">От 1 до 3 лет</option>
      <option value="3_5">От 3 до 5 лет</option>
      <option value="5_10">От 5 до 10 лет</option>
      <option value="more_10">Больше 10 лет</option>
    </select>
  </div>

  <div>
    <label for="age">Возраст</label>
    <select id="age" name="age">
      <option value="None">Любой</option>
      <option value="14_20">От 14 до 20 лет</option>
      <option value="20_30">От 20 до 30 лет</option>
      <option value="30_50">От 30 до 50 лет</option>
      <option value="more_50">Старше 50 лет</option>
    </select>
  </div>

  <div>
    <label for="program_lang">Языки программирования</label>
    <select id="program_lang" name="program_lang" multiple>
      {% for lang in data.program_lang %}
        <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="stylesheet_lang">Языки описания внешнего вида страницы</label>
    <select id="stylesheet_lang" name="stylesheet_lang" multiple>
      {% for ssl in data.stylesheet_lang %}
        <option value="{{ ssl }}">{{ ssl }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="markup_lang">Языки разметки</label>
    <select id="markup_lang" name="markup_lang" multiple>
      {% for markup in data.markup_lang %}
        <option value="{{ markup }}">{{ markup }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="db">СУБД</label>
    <select id="db" name="db" multiple>
      {% for db in data.db %}
        <option value="{{ db }}">{{ db }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="operating_system">Операционные системы</label>
    <select id="operating_system" name="operating_system" multiple>
      {% for os in data.operating_system %}
        <option value="{{ os }}">{{ os }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="version_control">Системы контроля версий</label>
    <select id="version_control" name="version_control" multiple>
      {% for vc in data.version_control %}
        <option value="{{ vc }}">{{ vc }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="ios">Технологии IOS</label>
    <select id="ios" name="ios" multiple>
      {% for skill in data.ios %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="android">Технологии Android</label>
    <select id="android" name="android" multiple>
      {% for skill in data.android %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="ml">Машинное обучение, Data Science, Data Analysis</label>
    <select id="ml" name="ml" multiple>
      {% for skill in data.ml %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="gamedev">GameDev</label>
    <select id="gamedev" name="gamedev" multiple>
      {% for skill in data.gamedev %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="testing">Технологии и методы тестирования</label>
    <select id="testing" name="testing" multiple>
      {% for test in data.testing %}
        <option value="{{ test }}">{{ test }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="sys_admin">Администрирование</label>
    <select id="sys_admin" name="sys_admin" multiple>
      {% for skill in data.sys_admin %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="devops">DevOps</label>
    <select id="devops" name="devops" multiple>
      {% for skill in data.devops %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="frontend">Технологии Frontend-разработки</label>
    <select id="frontend" name="frontend" multiple>
      {% for skill in data.frontend %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="backend">Технологии Backend-разработки</label>
    <select id="backend" name="backend" multiple>
      {% for skill in data.backend %}
        <option value="{{ skill }}">{{ skill }}</option>
      {% endfor %}
    </select>
  </div>

  <button id="apply_button" type="button">Применить</button>

  {% load static %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}