.select {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-right: 3rem;
}

.selects {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 2rem;
}

.filename {
    font-size: 1.1rem;
    font-weight: bold;
}

.resume-info {
    display: none;
}

.bi::before {
    vertical-align: -0.23rem;
}

.subtitle {
    font-weight: 500;
    font-style: italic;
}

.empty-result {
    font-size: 1.2rem;
}
