.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, .5);
    z-index: 1001;
}

.preloader__image {
    height: 100%;
    background: url('../gif/preloader.gif') no-repeat 50%;
}
